label {
    color: darkred;
}
body {
    background-color: whitesmoke;
}
.ticket {
    background-color: #004d40;
    z-index: auto;
}
.form-container {
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    height: 320px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

